################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/COMP345/v16
/Debug
.idea/
cmake-build-debug/
.vs/

x64/

Dice/Project1.vcxproj.filters

Dice/Project1.vcxproj.user

Dice/Project1.vcxproj

COMP345.vcxproj.filters
