################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/COMP345/v16
/Debug
CMakeLists.txt
.idea/
cmake-build-debug/
.idea/