################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/COMP345/v16
/Debug
/CMakeLists.txt
/cmake-build-debug/
.DS_Store
.idea/